@charset 'utf-8';

/* 1번 섹션 */

#visual_slide{
  width: 100vw; height: calc(100vh - 50px);
  position: relative;
  top: 0px; left: 0px;
}
#visual_slide h2{
  display: none;
}
.slide li:first-child div{z-index: 10;}
.slide li:nth-child(2) div{z-index: 9;}
.slide li:last-child div{z-index: 8;}
.video_box{
  position: absolute;
  width: 100%;  height:calc(100vh - 50px);
  overflow: hidden;
}
.video_box p{
  position: absolute;
  font-size: 1.5rem;
  color: #fff;
  font-weight: bold;
}
.video_box p:first-of-type{
  bottom: 300px; left: 20px;
}
.video_box p:last-of-type{
  bottom: 250px; left: 20px;
}
.video_box a{
  position: absolute;
  bottom: 175px; left: 20px;
  font-size: 1rem;
  color: var(--t-color03);
  padding: 15px 30px;
  border: 1px solid var(--t-color03);
  box-sizing: border-box;
  z-index: 1;
  transition: 0.9s;
}
.video_box a:hover{
  background: var(--bg-color01);
  border: 1px solid var(--bg-color01);
}

/* 컨트롤 버튼 서식 */
.btn_box{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 996;
}

.btn_box ul{
  display: flex;
  justify-content: space-between;
}
.btn_box ul li{
  font-size: 2rem;
  color: var(--t-color03);
  cursor: pointer;
  padding: 10px 10px;
  margin: 0px 20px;
  transition: 0.5s;
  background: rgba(204, 204, 204,.5);
  border-radius: 10px;
}
.c_btn{
  width: 150px;
  position: absolute;
  bottom: 150px; left: 20px;
  z-index: 995;
}
.c_btn ul{
  display: flex;
  justify-content: space-between;
}
.c_btn ul li{
  width: 45px; height: 5px;
  background: var(--bg-color03);
  cursor: pointer;
}
.on1{background:var(--bg-color01) !important;}


/* 2번 섹션 */
#intro_sec h2{display: none;}
.intro{
  width:100%; height: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
/* .intro_l{
} */
.intro_l img{
  width: 100%; height: 100%;
  object-fit: cover;
}
.intro_r{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
}
.intro_img{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.intro_img li img{
  width: 100%; height: 50px;
  object-fit: cover;
}
.intro_txt{
  margin-top: 20px;
  text-align: center;
  font-size: 1rem;
}
.intro_txt p {
  padding-top: 15px;
}

/* 3번 섹션 */
#n_e_sec{
  position: relative;
  overflow: hidden;
}
#n_e_sec h2{
  text-align: center;
  font-size: 3.5rem;
  padding: 50px 0px;
}
.n_e_tab{
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
}
.n_e_tab span{
  width: 100%; height: 100%;
  font-size: 1rem;
  font-weight: bold;
  display: inline-block;
  border: 2px solid var(--bg-color02);
  box-sizing: border-box;
  border-radius: 20px;
  text-align: center;
  padding: 5px 10px;
}
.n_e_li{
  position: relative;
  width: 100%; height: 500px;
  padding: 50px 10px;
  text-align: center;
}
.n_e_li > ul{
  position: absolute;
  width: 100%;
  display: none;
  cursor: pointer;
}
.n_e_li ul.active {
  display: block;
}
.n_e_li > ul > li{
  display: flex;
  padding-bottom: 20px;
  justify-content: center;
  align-items: center;
}
.n_e_li > ul > li img{
  width: 180px; height: 200px;
  display: block;
  border-radius: 20px;
}
.n_e_li > ul > li div{
  padding:0px 30px;
}
.n_e_li > ul > li div > p{
  padding: 10px 0px;
}
.n_e_li > ul > li div > p:first-child{
  font-size: var(--f-size02);
  font-weight: bold;
}
.n_e_li > ul > li div > p:nth-child(2){
  font-size: var(--f-size01);
  color: #636363;
}
.n_e_tab span {
  cursor: pointer;
  padding: 10px;
}
.n_e_tab span.active {
  background-color: var(--bg-color01);
  color: #fff;
  border: 2px solid var(--bg-color01);
}






/* 4번 섹션 */
#prd_sec{
  width: 100%;
  overflow: hidden;
  position: relative;
}
#prd_sec h2{display: none;}
.prd_txt {
  overflow: hidden;
  white-space: nowrap;
}
.prd_txt {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.prd_txt ul {
  display: flex;
  width: max-content;
  animation: slide-left 7s linear infinite;
}
.prd_txt li {
  flex: 1;
  margin-right: 20px;
  font-size: 1.5rem;
  font-weight: bold;
}
@keyframes slide-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}


.prd_img{
  width: 100%; height: calc(100vh - 200px);
  position: relative;
  background: rgba(204, 204, 204,0.2);
  margin-top: 20px;
}
/* .prd_img ul li{
} */
.prd_img > ul > li{
  position: absolute;
  width: 100%;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.9s;
  /* background: rgba(204, 204, 204,.5); */
}
.prd_img > ul > li > img:first-of-type{
  width: 100%;
  object-fit: cover;
}
.bg_box{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%); 
  border-radius: 50%;
  scale: 0;
  transition: 0.9s;
  display: none;
}

.prd_img > ul > li > ul{
  display: none;
}

.m_prd{
  position: absolute;
  bottom: 20px; right: 20px;
  padding: 10px 0px;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 3px ;
  text-decoration-style: dashed;
}
.m_prd a{
  font-size: 1rem;
  font-weight: bold;
  line-height: 30px;
}


/* 5번섹션 */
#lounge_sec{
  position: relative;
  overflow: hidden;
}
#lounge_sec h2{
  font-size: 3rem;
  padding: 50px 20px;
}
.s_wrap{
  width: 100%; height: 100%;
  position: relative;
  display: flex;
  transition: 0.9s;
  /* overflow: hidden; */
}
.s_wrap figure{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.s_wrap figure figcaption{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.s_wrap figure figcaption span{
  font-size: var(--f-size03);
  font-weight: bold;
  display: inline-block;
  padding: 20px;
  line-height: 40px;
}
.s_wrap figure figcaption p{
  font-size: 1rem;
  color: #636363;
  padding-top: 20px;
}
#lounge_sec > i.fas{
  position: absolute;
  top: 45.5%;transform: translateY(-50%);
  border: 2px solid rgba(230, 230, 230, 0.7);
  padding: 0px 12px;
  font-size: 3rem;
  border-radius: 50%;
  cursor: pointer;
  color: rgba(250, 250, 250,.7);
  z-index: 1;
}
#lounge_sec > .fa-angle-left{
  left: 10px;
}

#lounge_sec > .fa-angle-right{
  right: 10px;
}


/* 6번섹션 */
#now_sec{
  width: 100%;
  overflow: hidden;
}
#now_sec h2{
  font-size: 3rem;
  padding: 50px 0px;
  text-indent: 20px;
}
.now_box{
  width: 100%;
  margin: 0px auto;
  /* background-color: #ccc; */
  display: grid;
  gap: 10px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-content: space-around;
}
.now_box1{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-content: center;
  gap: 10px;
}
.now_item{
  position: relative;
  width: 300px; height: 300px;
  overflow: hidden;
}
.now_item img{
  width: 300px; height: 100%;
  object-fit: fill;
  transition: 0.9s;
}
.now_item img:first-of-type{
  transition: 0.9s;
}
.now_item img:last-of-type{
  top: 300px;
}
.now_item:hover > img:last-of-type{
  top: 0px;
}
.now_item:hover > p{
  opacity: 1;
}
.now_item img:last-of-type{
  display: block;
  position: absolute;
}
.now_item p {
  width: 100%;
  position: absolute;
  bottom: 0px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: var(--t-color03);
  padding: 20px 0px;
  background-color: rgba(61, 61, 61, 0.7);
  opacity: 0;
  transition: 0.9s;
}
.m_box{
  position: relative;
  display:block;
  height: 100px;
  text-align: center;
}
.m_box a{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  padding: 6px 20px;
  border: 2px solid#333;
  border-radius: 10px;
}

#now_atc2{
  padding-bottom: 50px;
}
#list > ul{
  width: 100%;
  margin: 0px auto;
  /* background-color: #ccc; */
  display: grid;
  gap: 20px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-content: center;
}
#list > ul > li{
  position: relative;
  width: 300px; height: 300px;
  overflow: hidden;
}
#list > ul > li img{
  width: 300px; height: 100%;
  object-fit: fill;
  transition: 0.9s;
}